<div class="container-fluid">
  <mat-card class="sombra animate__animated animate__zoomInRight">
    <div class="row">
      <div class="col-md-4" >
        <div class="text-md-center ">About ME</div>
        <p></p>
        El título de ingeniero/a habilita para trabajar en el ámbito de la tecnología, con responsabilidades sobre gestión, mantenimiento, desarrollo e innovación. Los y las ingenieros/as utilizan estos conocimientos para crear conceptos, materiales, procesos, productos, máquinas, obras y sistemas complejos.

        En este sentido, los y las profesionales de la ingeniería se asumen como actores/actrices influyentes de nuestra sociedad, ya que están capacitados/as para dar respuesta a desafíos como el cambio climático global, la provisión de energía, las problemáticas de vivienda, transportes y comunicaciones, a partir del respeto por los recursos para las futuras generaciones.
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4">
       <p class="fw-bold">Basic Information:<span class="fw-normal"> Barragan Ezequiel</span></p>
       <p class="fw-bold">Date of Birth: <span class="fw-normal"> 03/09/01</span></p>
       <p class="fw-bold">Email: <span class="fw-normal"> ezebsso.03@gmail.com</span></p>
       <p class="fw-bold">Pais: <span class="fw-normal"> Argentina</span></p>
       <p class="fw-bold">Lenguaje: <span class="fw-normal"> Español , Ingles </span></p>
      </div>
    </div>
  </mat-card>
</div>
