<div class="container-fluid">
  <mat-card class="sombra animate__animated animate__zoomInRight">
    <div class="row">
      <div class="col-md-4" >
        <div class="text-md-center ">Sobre Mi</div>
        <p></p>
        Soy un estudiante de Programacion, me gusta trabajar en equipo y me gusta aprender siempre algo nuevo
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4">
       <p class="fw-bold">Informacion Basica:<span class="fw-normal"> Barragan Ezequiel</span></p>
       <p class="fw-bold">Fecha de Nacimiento: <span class="fw-normal"> 03/09/01</span></p>
       <p class="fw-bold">Email: <span class="fw-normal"> ezebsso.03@gmail.com</span></p>
       <p class="fw-bold">Pais: <span class="fw-normal"> Argentina</span></p>
       <p class="fw-bold">Idioma: <span class="fw-normal"> Español , Ingles </span></p>
      </div>
    </div>
  </mat-card>
</div>
