<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Barragán Ezequiel </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a> <button (click)="scrollToUno()" class="1" mat-button color="basic">About me</button></a>
        <a> <button (click)="scrollToDos()"class="1" mat-button color="basic">Experience</button></a>
        <a> <button (click)="scrollToTres()" class="1" mat-button color="basic">Skill</button> </a>
        <a> <button (click)="scrollToCuatro()"class="1" mat-button color="basic">Education</button></a>
        <a><button (click)="scrollToCinco()"class="1" mat-button color="basic">Contact</button></a>
      </div>
    </div>
  </div>
</nav>
