
.card3{
  background-color:transparent;
  color: black;
  margin:auto;
  width: 100%;
  margin-top: 80px;
  height: 480px;
  margin-bottom: 10px;
}
mat-form-field{
  margin-top: 20px;
  border-radius: 10px;
  border-color: #67b3e4;
}
.name{
  color: black;
  border-radius: 10px;
  border-color: #67b3e4;
}
.email{
  color: black;
}
.msj{
  color: black;
}
.send{
  background-color: blue;
  text-align:right;
  margin-top: 10px;
}
mat-label{
  border-radius: 10px;
  border-color: #67b3e4;
}
.boton{
  background-color: #67b3e4;

}
.borde{
  border:1px solid rgb(8, 157, 243)
}
.bord{
  border:1px solid rgb(8, 157, 243)
}
.bordes{
  border:1px solid rgb(8, 157, 243)
}
.animate__zoomIn{
  --animation-duration: 7s;
}
.apellido{color: black;}
