<div class="container-fluid">
  <div class="animate__animated animate__zoomIn">
    <mat-card class="card3 ">
      <div class="row">
        <div class="col-md-12">
          <div class="text-md-center">Contact</div>
        </div>
      </div>
      <form class="user-login"[formGroup]="loginForm"(ngSubmit)="onLogin()">
        <div class="row">
          <div class="col-md-12 text-center">
            <mat-form-field class="bord" appearance="fill">
              <mat-label class="name">Nombre</mat-label>
              <input matInput>
            </mat-form-field>
            <div><mat-form-field class="bord" appearance="fill">
                <mat-label class="apellido">Apellido</mat-label>
                <input matInput>
              </mat-form-field></div>
            <mat-form-field class="bord" appearance="fill">
              <mat-label class="email">Email</mat-label>
              <input matInput type="email" formControlName="email">
            </mat-form-field>
            <div *ngIf="formControl.email.errors" class="text-danger">
              <div *ngIf="formControl.email.errors.email">El email debe ser valido</div>
              <div *ngIf="formControl.email.errors.required">Se necesita un email</div>
            </div>
            <div><mat-form-field class="bord" appearance="fill">
                <mat-label class="msj">Message</mat-label>
                <input matInput type="mensaje" maxlength="256">
              </mat-form-field></div>
              <button mat-raised-button type="submit" class="send">Enviar</button>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>


