<div class="container-fluid">
  <mat-card class="card3 animate__animated animate__zoomIn">
    <div class="row">
      <div class="col-md-12">
        <div class="text-md-center">Contact</div>
      </div>
    </div>
      <div class="row text-center">
        <div class="col-md-4">
          <form class="example-form">

            <mat-form-field class="borde"appearance="fill">
              <mat-label class="name">NAME</mat-label>
              <input matInput>
            </mat-form-field>
            </form>
            <form>
              <mat-form-field class="bord" appearance="fill">
                <mat-label class="email">Email</mat-label>
                <input matInput type="email"placeholder="pat@example.com">
              </mat-form-field>
          </form>
          <form class="example-form">
            <mat-form-field class="bordes" appearance="fill">
              <mat-label class="msj">Message</mat-label>
              <input matInput #message>
              <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
              <mat-hint align="end"></mat-hint>
            </mat-form-field>
          </form>
          <button mat-raised-button class="send">Enviar</button>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-2">
          <p class="fw-bold rounded-start">Telefono </p><p text-center>+542215062474</p>
          <p class="fw-bold rounded-start">email </p> <p text-center>ezebsso.03@gmail.com</p>
        </div>
      </div>
  </mat-card>
</div>

