<div class="container-text-center">
  <div class="row">
    <div class="col-md-12">
      <div class=" letra text-center">SKILL</div>
    </div>
  </div>
</div>
  <div class="container-fluid">
    <div class="col-md-">
      <mat-card class="exp">
        <div class="row">
          <div class="col-md-5">
            <h3>Angular</h3>
            <mat-progress-bar mode="determinate" value="50"></mat-progress-bar><br>
            <h3>Boostrap</h3>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <h3>CSS/SCSS</h3>
            <mat-progress-bar mode="determinate" value="30"></mat-progress-bar><br>
            <h3>Html</h3>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
          </div>
        </div>
      </mat-card>
    </div>
