<div  class="container-fluid">
  <div class="row">
    <div  class="col-md-12">
      <div class=" letra text-center">Experiencia</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">

    </div>
    <div  class="col-md-10">
      <mat-card class="example-card1 animate__animated animate__backInLeft">
        <mat-card-title> Cajero y Fiambrero </mat-card-title>
        <mat-card-subtitle>Desde Agosto a Febrero (2021-2022)</mat-card-subtitle>
        <mat-card-content>
          Atender caja y fiambreria en Almacen
        </mat-card-content>
      </mat-card>
    </div>
